.venv/
venv/
__pycache__/
*.py[cod]
*$py.class

.vscode/
.idea/

.env
.env.*
*.log

.ipynb_checkpoints/

htmlcov/
.tox/
.nox/
.coverage
coverage.xml
.cache/
.mypy_cache/
.pyre/
.pytype/

.DS_Store
Thumbs.db
